body {
    margin: 0;
    font-family: sans-serif;
  }
  #scrolly {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    height: 100vh;
  }
  .sticky-graphic {
    position: sticky;
    top: 0;
    width: 60%;
    height: 100vh;
  }
  .scroll-text {
    width: 40%;
    overflow-y: scroll;
    height: 100vh;
  }
  .step {
    padding: 50vh 2rem;
    font-size: 1.5rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    min-height: 100vh;
  }

  #scrolly {
    height: 400vh; /* enough height to scroll through all steps */
  }
  
  